<div class="hero-unit">
	<table class="table table-bordered">
  	<caption></caption>
		<thead>
			<tr>
				<th>#</th>
				<th>Username</th>
				<th>Last Sign In At</th>
				<th>Created On</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.username %></td>
				<td><%= user.last_sign_in_at %></td>
				<td><%= user.created_at %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>