/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.stiki {
    .space {
        .action {
          float: right; 
        }
        .update {
          margin-right: 5px; 
        }
        
        .delete {
          border: 0;
          background-color: white;
        }
      
      
      
      .title {
        float: left;
      }
    }
}