<% flash.each do |key, value| %>
<div class="message">
   <div class="alert <%= key %> box standard">
    <button type="button" class="close" data-dismiss="alert" href="#">&times</button>
    <center><strong><%= value %></strong></center>
  </div>
</div>
<% end %>